ol.archive__list {
  @include list-none-style;

  display: flex;
  flex-wrap: wrap;

  li {
    //padding: var(--spacing-5);
    background-color: var(--background-light);
    border-radius: var(--spacing-1);
    flex: 1 1 30%;
    margin: calc(var(--spacing-8) / 2);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;

    &:hover {
      transform: translateY(-8px);
      box-shadow: rgb(0 0 0 / 8%) 0 12px 20px 0;
    }

    article {
      display: flex;
      flex-direction: column;
      position: relative;

      header {
        margin-bottom: var(--spacing-3);

        h3 {
          margin-bottom: var(--spacing-4);
          margin-top: var(--spacing-0);

          a {
            font-size: var(--fontSize-2);
            position: static;
            text-decoration: none;
            color: var(--color-heading-black);
            font-weight: var(--fontWeight-bold);

            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              height: calc(100% - 30px);
            }
          }
        }

        small {
          svg {
            font-size: var(--fontSize-0);
            color: var(--color-text);
            margin-right: var(--spacing-2);
          }

          span {
            font-size: calc(var(--fontSize-0) + .05em);
            color: var(--color-text);
          }
        }
      }

      section {
        p {
          margin-top: 0;
          font-size: var(--fontSize-1);
          color: var(--color-text);
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: normal;
          margin-bottom: var(--spacing-1);
          line-height: var(--lineHeight-normal);

        }

        a.archive__tag {
          font-size: var(--fontSize-0);
          color: var(--color-text-light);
          padding: var(--spacing-1);
          cursor: pointer;
          text-decoration: none;

          &:hover {
            background-color: #000;
            color: #fff;
          }
        }
      }
    }
  }
}
